# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/

# IDE and editor files
.vscode/
.idea/
*.iml
*.swp
*.swo

# Miscellaneous
.DS_Store

# Compiled binary addons (Node-gyp)
build/